@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400ç500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "poppins",sans-serif;
}
:root {
    --background-color: #081b29;
    --second-background-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
    }
    html{
        font-size: 62.5%;
        overflow-x:hidden;
    }
    body{
        background-color: var(--background-color);
        color: var(--text-color);
    }
